# вложеные каталоги .idea
.idea/
venv/
src/app_accounts/__pycache__/
src/app_blog/__pycache__/
src/project_blog/__pycache__/

# файлы
git_push.txt
git_clone.txt

# приватные ключи .env
src/.env
.env


